*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 228, 196, 0.258);
    position: sticky;
    top: 0;
    opacity: 100%;
}
ul{
    list-style: none;
    display: flex;
    gap: 50px;
}
ul :hover{
    color: red;
}
a{
    text-decoration: none;
    color: black;
}
nav img{
    height: 100px;
}
.sec1{
    background-image: url(https://media.istockphoto.com/id/1214416414/photo/barbecued-salmon-fried-potatoes-and-vegetables-on-wooden-background.jpg?s=2048x2048&w=is&k=20&c=N9BmulNLMp2iARi8xMtIwJc4NDS6JXYvPhEfO-w9yug=);
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}
.sec1 h1{
    font-family: 'Times New Roman', Times, serif;
    font-size: 60px;
    font-weight: 50px;
    font-style: italic;
    text-transform: uppercase;
    padding-bottom: 40px;

}
.sec1 button{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    font-weight: 20px;
    background-color: red;
    border: none;
    border-radius: 20px;
    text-transform: capitalize;
    height: 70px;
    width: 150px;
}
.sec2{
   display: grid;
   grid-template-columns: repeat(2,1fr);
   margin-top: 10px;
   margin-left: 10px;
   background-color: rgb(213, 44, 44);
   height: 100vh;
   gap: 10px;
   

}
.sec2 div{
    position: relative;
}
.sec2 div *{
    position: relative;
    z-index: 2;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   
}
.sec2 div p{
    font-size: 20px;
    padding: 10px;
    font-weight: 30px;
}
.sec2 img{
    width: 100%;
    height: 100%;  
    position: absolute; 

}

.sec2div1{
    grid-column: 1/2;
    grid-row: 1/3;
}


.sec3{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    padding: 10px;
}
.sec3div1{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sec3div1 p{
    padding :0 0 20px  0 ;
    text-transform: uppercase;
    font-size: 30px;

}
.sec3div1 button{
    font-size: 20px;
    font-weight: 20px;
    border-radius: 20px;
    width: 200px;
    height: 70px;
    background-color: rgba(203, 50, 50, 0.397);
    border: none;
}
.sec3div1 button:hover{
    background-color: red;
}
.sec4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

}
.sec4 input,textarea {
    margin: 10px;
    padding: 10px;
    

}
.sec4 button{
    height: 60px;
    width: 100px;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
}
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px; 
}
main h1{
    text-transform: uppercase;
    font-size: 30px;
    margin: 20px;
}
main div{
    display: flex;
    gap: 60px;
}
main div i{
    font-size: 50px;
}
main div a:first-child i {
    color: blue; 
}
main div a:nth-child(2) i{
    color: rgba(211, 21, 8, 0.84); 
}
main div a:nth-child(3) i{
    color: rgb(4, 0, 0)(12, 10, 10); 
}
main div a:nth-child(4) i{
    color: red; 
}
footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
    background-color: rgb(229, 107, 107);
}
footer div{
    display: flex;
    align-items: center;
    text-align: center; 
}
footer h2{
    margin-right: 10px;
}